{% extends "base.html" %}

{% block content %}
{% block page_heading %}
<h1>{{ map_file }}</h1>
{% endblock %}
<div class='row'>
	<div class='col' style="min-width: 70%">
		<div id='map'></div>
	</div>
	<div class='col'>
		<div class='row'>

			<!-- Rounded switch -->

		</div>

	</div>
</div>
{% endblock %}

{% block script %}
{{ block.super }}
<script src="http://d3js.org/d3.v4.js"></script>
<script type="text/javascript" src="../../../static/js/{{ map_file }}.js"></script>
<script type="text/javascript" src="../../../static/js/map_functions.js"></script>

{% endblock %}