:root {
    --color-accent-1: #3F698F;
    --color-accent-2: #307F4E;
    --color-accent-3: #D86B44;
    --color-dark: #303030;
}


body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }


.accordion {
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.bar rect {
  fill: var(--color-accent-1);
}

.bar text {
  fill: #ffffff;
  font: 10px sans-serif;
}

.dot {
  fill: var(--color-accent-1);
  stroke: var(--color-dark);
}

.dot-selected {
  fill: var(--color-accent-3);
  stroke: var(--color-dark);
}


.sidebar .nav-link.active {
  color: var(--color-accent-1);
}

.btn-primary {
  background-color: var(--color-accent-1);
  border-color: var(--color-accent-1);
}


/* tooltips for scatter plot */
div.tooltip {
    position: absolute;
    /* text-align: center; */
    /* width: 60px; */
    /* height: 28px; */
    padding: 10px;
    font: 15px sans-serif;
    background: #b7b9bc;
    /* border-color: "black";
    border: 5px; */
    border-radius: 4px;
    pointer-events: none;
}


.btn-scatter {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 150px;
  margin: 5px;
  text-align: left;
}


.caret {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #fff;
    left: 80%;
    top: 45%;
    position: absolute;
}


.btn-overview {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 150px;
  margin: 2px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: left;
}



/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 37px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 10px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #3f79a6;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 4px;
}

.slider.round:before {
  border-radius: 20%;
}

/* dropdown filters */
.btn-filters {
  /* padding: 2px;  */
  width: 130px;
  text-align: left;
  padding-left: 9px;
  padding-top: 3px;
  padding-bottom: 1px;
}

.toggle-label {
  white-space: nowrap;
  padding-top: 3px; 
  padding-left: 45px;
}

.lhn-margin {
  margin-top: 5px;
  margin-bottom: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.lhn-width {
  max-width: 300px;
}